{% extends 'base.html' %}
{% block content %}


<form method="post" class="the-form">
    <h1>Register your new account</h1>
    {% csrf_token %}
    <label for="username">
        <input class="the-input" type="text" name="username" placeholder="Username">
    </label>
    <label for="email">
        <input class="the-input" type="email" name="email" placeholder="Email">
    </label>
    <label for="firstPW">
        <input class="the-input" type="password" name="password1" placeholder="Password">
    </label>
    <label for="secondPW">
        <input class="the-input" type="password" name="password2" placeholder="Confirm Password">
    </label>
    
    <button class="the-button" type="submit">Register</button>
    <a href="/login/">Back to Login</a>
</form>

{% endblock %}