{% extends "base.html" %}

{% block content %}
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-headera
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        {% if request.user.is_authenticated %}
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Welcome to Chatrooms, {{ request.user }}!</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            {% if current_chat == 'general' %}
            <a href="/chat/?current_chat=general" class="mdl-layout__tab is-active" id="tab1">General Chat</a>
            {% else %}
            <a href="/chat/?current_chat=general" class="mdl-layout__tab" id="tab1">General Chat</a>
            {% endif %}
            {% if current_chat == 'heroes' %}
            <a href="/chat/?current_chat=heroes" class="mdl-layout__tab is-active" id="tab2">Lobby of Heroes</a>
            {% else %}
            <a href="/chat/?current_chat=heroes" class="mdl-layout__tab" id="tab2">Lobby of Heroes</a>
            {% endif %}
            {% if current_chat == 'dragons' %}
            <a href="/chat/?current_chat=dragons" class="mdl-layout__tab is-active" id="tab3">Dragon's Dungeon</a>
            {% else %}
            <a href="/chat/?current_chat=dragons" class="mdl-layout__tab" id="tab3">Dragon's Dungeon</a>
            {% endif %}
        </div>
        {% else %}
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Welcome to Chatrooms, please login or register!</span>
        </div>
        {% endif %}
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Sidenav</span>
        {% if request.user.is_authenticated %}
        <nav class="mdl-navigation">
            <a href="#" class="mdl-navigation__link" id="link1" onclick="activate('tab1')">General Chat</a>
            <a href="#" class="mdl-navigation__link" id="link2" onclick="activate('tab2')">Lobby of Heroes</a>
            <a href="#" class="mdl-navigation__link" id="link3" onclick="activate('tab3')">Dragon's Dungeon</a>
            <a href="/logout/" class="mdl-navigation__link color">Logout</a>
        </nav>

        <script>
            // Activates the tab with the given id via virtual click.
            function activate(tab) {
                document.getElementById(tab).click();
            }
        </script>
        {% endif %}
    </div>
    <main class="mdl-layout__content">

        {% if request.user.is_authenticated %}

        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content padding">



                <div class="column">
                    {% for message in messages %}

                    <div class="text">
                        [{{ message.created_at }}] {{ message.author }}: {{ message.text }}
                    </div>
                    {% endfor %}
                </div>

                <div class="flex-row-center-gap">

                    <form action="/chat/" method="post">
                        {% csrf_token %}
                        <!-- This is important for security reasons (Django specific code): sends hidden token to backend -->
                        <div class="mdl-textfield mdl-js-textfield">
                            {% if current_chat == 'general' %}
                            <input type="hidden" name="chatId" value="1">
                            {% elif current_chat == 'heroes' %}
                            <input type="hidden" name="chatId" value="2">
                            {% elif current_chat == 'dragons' %}
                            <input type="hidden" name="chatId" value="3">
                            {% endif %}
                            <input class="mdl-textfield__input" name="message" type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Write in General...</label>
                        </div>

                        <button
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Send
                        </button>
                    </form>

                </div>

            </div>

        </section>
        

        {% else %}

        <div class="text">
            <p>You are not logged in.</p>

            <a href="/login/">Login</a> | <a href="/register/">Register</a>
        </div>

        {% endif %}
    </main>
</div>
{% endblock %}